In [1]:
import pandas as pd

In [2]:
region_dict = {
    "WA": "Northwest",
    "OR": "Northwest",
    "ID": "Northwest",
    'MT': "Northwest",
    'WY': "Northwest",
    'NV': "Northwest",
    'UT': "Northwest",
    
    'CA': 'CAISO',
    
    'AZ': 'Southwest',
    'NM': 'Southwest',
    'CO': 'Southwest',
    
    'TX': 'ERCOT',
    
    'OK': 'SPP',
    'NE': 'SPP',
    'SD': 'SPP',
    'KS': 'SPP',
    
    'ND': 'MISO',
    'MN': 'MISO',
    'IA': 'MISO',
    'IL': 'MISO',
    'MS': 'MISO',
    'WI': 'MISO',
    'LA': 'MISO',
    'IN': 'MISO',
    'MI': 'MISO',
    'MO': 'MISO',
    'AR': 'MISO',
    
    'FL': 'Southeast',
    'GA': 'Southeast',
    'AL': 'Southeast',
    'SC': 'Southeast',
    'NC': 'Southeast',
    'TN': 'Southeast',
    
    'OH': 'PJM',
    'KY': 'PJM',
    'VA': 'PJM',
    'WV': 'PJM',
    'DE': 'PJM',
    'PA': 'PJM',
    'MD': 'PJM',
    'NJ': 'PJM',
    
    'NY': 'NYISO',
    'VT': 'ISO-NE',
    'NH': 'ISO-NE',
    'MA': 'ISO-NE',
    'CT': 'ISO-NE',
    'RI': 'ISO-NE',
    'ME': 'ISO-NE',
    
    'HI': 'Hawaii',
    'AK': 'Alaska',
    'PR': 'Puerto Rico',
    'DC': 'District of Columbia'
}

In [3]:
regulated_dict = {
    'AL': 'Regulated',
    'AK': 'Regulated',
    'AZ': 'Regulated',
    'AR': 'Regulated',
    'CA': 'Deregulated',
    'CO': 'Regulated',
    'CT': 'Deregulated',
    'DE': 'Deregulated',
    'DC': 'Deregulated',
    'FL': 'Regulated',
    'GA': 'Deregulated',
    'HI': 'Regulated',
    'ID': 'Regulated',
    'IL': 'Deregulated',
    'IN': 'Regulated',
    'IA': 'Regulated',
    'KS': 'Regulated',
    'KY': 'Regulated',
    'LA': 'Regulated',
    'ME': 'Deregulated',
    'MD': 'Deregulated',
    'MA': 'Deregulated',
    'MI': 'Deregulated',
    'MN': 'Regulated',
    'MS': 'Regulated',
    'MO': 'Regulated',
    'MT': 'Regulated',
    'NE': 'Regulated',
    'NV': 'Regulated',
    'NH': 'Deregulated',
    'NJ': 'Deregulated',
    'NM': 'Regulated',
    'NY': 'Deregulated',
    'NC': 'Regulated',
    'ND': 'Regulated',
    'OH': 'Deregulated',
    'OK': 'Regulated',
    'OR': 'Deregulated',
    'PA': 'Deregulated',
    'RI': 'Deregulated',
    'SC': 'Regulated',
    'SD': 'Regulated',
    'TN': 'Regulated',
    'TX': 'Deregulated',
    'UT': 'Regulated',
    'VT': 'Regulated',
    'VA': 'Deregulated',
    'WA': 'Regulated',
    'WV': 'Regulated',
    'WI': 'Regulated',
    'WY': 'Regulated'
    
}

In [4]:
status_dict = {
    'IP': 'Cancelled',
    'TS': 'Construction complete',
    'P': 'Planned, not started',
    'L': 'Permits pending',
    'T': 'Permits received',
    'U': 'Under construction, â‰¤ 50%',
    'V': 'Under construction, > 50%',
    'OT': 'Other'
}

alt_status_dict = {
    'IP': 'Cancelled',
    'TS': 'Built',
    'P': 'Planned',
    'L': 'Permitting',
    'T': 'Permitting',
    'U': 'Under construction',
    'V': 'Under construction',
    'OT': 'Other'
}

In [38]:
df = pd.read_csv('../Clean Data/proposed_gen_master_list_post08.csv')
df['region'] = df['plant_state'].map( region_dict )
df['regulated'] = df['plant_state'].map(regulated_dict)
df['status_clean'] = df['status'].map ( status_dict )
df['alt_status'] = df['status'].map(alt_status_dict)
df['period'] = pd.cut(df['year'], bins=[min(df['year']-1), 2011, 2016, max(df['year'])],
      labels = ['2009-2011: Loan grant + ITC', 
                '2012-2016: ITC Round 1', 
                '2017-2023: ITC Round 2'])
df.to_csv('../Clean Data/proposed_gen_master_list_post08.csv')

/Users/rachelanderson/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (15,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
def clean_df(fileName, state_var,year_var):
    df = pd.read_csv(fileName)
    df['region'] = df[state_var].map(region_dict)
    df['regulated'] = df[state_var].map(regulated_dict)
    df['period'] = pd.cut(df[year_var], bins=[min(df[year_var]-1), 2011, 2016, max(df[year_var])],
      labels = ['2009-2011: Loan grant + ITC', 
                '2012-2016: ITC Round 1', 
                '2017-2023: ITC Round 2'])
    df.to_csv(fileName[-3])
    out_name = fileName[:-4] + '_new.csv'
    df.to_csv(out_name)
    return(df)

In [15]:
fileName = '../../Tax Equity Code/STATA/capacity_clean.csv'
clean_df(fileName, 'State Code', 'Year')

,Unnamed: 0,Year,State Code,Producer Type,Fuel Source,Generators,Facilities,Nameplate Capacity (Megawatts),Summer Capacity (Megawatts),year,total_capacity,summer_capacity,facilities,state,region,regulated,period
0,2,1990,AK,"Combined Heat and Power, Commercial Power",All Sources,NaN,4,85.9,80.1,1990,85.9,80.1,4,AK,Alaska,Regulated,2009-2011: Loan grant + ITC
1,3,1990,AK,"Combined Heat and Power, Commercial Power",Coal,NaN,3,65.5,61.1,1990,65.5,61.1,3,AK,Alaska,Regulated,2009-2011: Loan grant + ITC
2,4,1990,AK,"Combined Heat and Power, Commercial Power",Petroleum,NaN,1,20.4,19.0,1990,20.4,19.0,1,AK,Alaska,Regulated,2009-2011: Loan grant + ITC
3,5,1990,AK,"Combined Heat and Power, Industrial Power",All Sources,NaN,23,229.4,204.2,1990,229.4,204.2,23,AK,Alaska,Regulated,2009-2011: Loan grant + ITC
4,6,1990,AK,"Combined Heat and Power, Industrial Power",Natural Gas,NaN,28,159.3,136.7,1990,159.3,136.7,28,AK,Alaska,Regulated,2009-2011: Loan grant + ITC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44614,44616,2018,WY,Total Electric Power Industry,Other,2,2,12.4,12.4,2018,12.4,12.4,2,WY,Northwest,Regulated,2017-2023: ITC Round 2
44615,44617,2018,WY,Total Electric Power Industry,Other Gases,7,3,147.7,102.0,2018,147.7,102.0,3,WY,Northwest,Regulated,2017-2023: ITC Round 2
44616,44618,2018,WY,Total Electric Power Industry,Petroleum,4,3,5.8,5.8,2018,5.8,5.8,3,WY,Northwest,Regulated,2017-2023: ITC Round 2
44617,44619,2018,WY,Total Electric Power Industry,Solar Thermal and Photovoltaic,1,1,92.0,92.0,2018,92.0,92.0,1,WY,Northwest,Regulated,2017-2023: ITC Round 2
44618,44620,2018,WY,Total Electric Power Industry,Wind,31,21,"1,487.3","1,487.3",2018,1487.3,1487.3,21,WY,Northwest,Regulated,2017-2023: ITC Round 2