In [90]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows', None)

In [98]:
# list of operating projects in 2018
gen = pd.read_csv('/Users/rachelanderson/Dropbox (Princeton)/Data for Tax Equity Project/eia_data/eia8602018/merged_clean_address.csv')
gen = gen[~gen['utility_name'].isna()]
gen['nameplate_cap'] = pd.to_numeric(gen['nameplate_capacity_mw'].astype(str).str.replace(',',''))

In [99]:
gen.drop([x for x in gen.columns if 'Unnamed' in x], axis=1, inplace=True)
solar = gen[gen['technology']=='Solar Photovoltaic']

In [100]:
# states with most renewable capacity added in 2016
solar[solar['operating_year']==2016].groupby(['plant_state']).nameplate_cap.sum().sort_values(ascending=False).reset_index().head(10)

  plant_state  nameplate_cap
0          CA         2803.9
1          NC          801.8
2          GA          732.3
3          UT          689.4
4          NV          619.4
5          AZ          378.5
6          TX          266.0
7          MN          252.2
8          FL          245.0
9          CO          226.8

In [101]:
gen['clean_address'] = gen['clean_address'].apply(lambda x: s.join(x.lower().split("flo")[:-1]) if "flo" in x.lower() else x.lower()).reset_index()

In [111]:
solar[(solar['operating_year']==2016) & (solar['plant_state']=='CA')].groupby(['clean_address','parent_utility']).nameplate_cap.sum().sort_values(ascending=False).reset_index().head(10)

KeyError: 'parent_utility'

In [ ]:
gen[]

In [18]:
gen[gen['state']!=gen['plant_state']].shape[0]

6558

In [95]:
gen[gen['utility_name'].str.contains("Berkshire")].utility_name.unique()

array(['Berkshire Power Co LLC', 'PPS Berkshire Solar LLC'], dtype=object)

In [109]:
# dictionary of subsidiary companies for top solar utilities

utility_subsidiaries = {
    "Southern California Edison Co": 'Edison International',

# southern power co    
'Southern Power Co': 'Southern Company',
'Mississippi Power Co': 'Southern Company',
'Alabama Power Co': 'Southern Company',
'Georgia Power Co': 'Southern Company',

'Consolidated Edison Energy, Inc.': 'Consolidated Edison',
'Consolidated Edison Co-NY Inc': 'Consolidated Edison',
'Consolidated Edison Development Inc': 'Consolidated Edison',
'Consolidated Edison Solutions Inc': 'Consolidated Edison',
    
'Dominion Energy South Carolina, Inc': 'Dominion Energy',
'Dominion Renewable Energy': 'Dominion Energy',
'Virginia Electric & Power Co': 'Dominion Energy',
'Dominion Renewable Energy - Clipperton'  : 'Dominion Energy',
'Dominion Renewable Energy - Fremont': 'Dominion Energy'
}
    
# 'Pacific Gas & Electric'

# 'Exelon'

# 4. Edison International

# 5. NextEra Energy

# 6. Southern Company

# 7. American Electric Power

# 8. First Energy

# 9. Xcel Energy

# 10. National Grid

#  SHARE

In [110]:
gen['parent_utility']=gen['utility_name'].map(utility_subsidiaries)
gen['parent_utility']=gen['parent_utility'].fillna(gen['utility_name'])

In [6]:
gen[gen['technology']=='Solar Photovoltaic'].groupby(['parent_utility','operating_year']).nameplate_cap.sum().sort_values(ascending=False).head(10)

KeyError: 'parent_utility'

In [93]:
gen[gen['technology']=='Solar Photovoltaic'].groupby('utility_name').nameplate_cap.sum().sort_values(ascending=False).reset_index().head(10)

                           utility_name  nameplate_cap
0                     Southern Power Co         2359.6
1  Consolidated Edison Development Inc.         2308.7
2             Dominion Renewable Energy         1465.1
3              Cypress Creek Renewables         1204.2
4          Sustainable Power Group, LLC         1072.0
5              Florida Power & Light Co          857.7
6                   CD Arevon USA, Inc.          677.3
7                 Topaz Solar Farms LLC          585.9
8                   Agua Caliente Solar          347.7
9        Solar Star California XIX, LLC          318.0