In [10]:
import pandas as pd

dataDir = '/Users/rachelanderson/Dropbox (Princeton)/Data for Tax Equity Project/'

## make master list of utility names from utility dataset, generator dataset, and owners dataset

### Read in relevant datasets

In [15]:
owners = pd.read_csv(dataDir + 'master_company_list_2018/owners2018.csv')
gen_data = pd.read_csv(dataDir + 'master_company_list_2018/gen_2018.csv')
utils = pd.read_csv(dataDir + 'master_company_list_2018/utils_2018.csv')

/Users/rachelanderson/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (16,39,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
dfList = [owners, gen_data, utils]

In [22]:
owners.columns

Index(['Unnamed: 0', 'utility_id', 'utility_name', 'plant_code', 'plant_name',
       'state', 'generator_id', 'status', 'owner_name', 'owner_street_address',
       'owner_city', 'owner_state', 'owner_zip', 'ownership_id',
       'percent_owned', 'perc_owned', 'num_owners', 'idx', 'owner_1',
       'owner_2', 'owner_3', 'owner_4', 'perc_owner_1', 'perc_owner_2',
       'perc_owner_3', 'perc_owner_4'],
      dtype='object')

In [28]:
owners.rename(columns = {'owner_name':'company_name', 
                         'owner_street_address':'company_address',
                         'owner_state': 'company_state',
                          'owner_city': 'company_city',
                          'owner_zip': 'company_zip',
                           'ownership_id': 'company_id'},inplace=True)
gen_data.rename(columns = {'utility_name':'company_name'}, inplace=True)
utils.rename(columns = {'utility_name':'company_name',
                       'utility_id': 'company_id',
                        'street_address':'company_address',
                         'state':'company_state',
                         'city': 'company_city', 
                          'zip':'company_zip'},inplace=True)

In [49]:
# make df with master list of companies (utilities + owners)
companyVals = ['name', 'address','state','city','zip','id']
companyVals = ['company_' + x for x in companyVals]
companies = owners[companyVals].append(utils[companyVals])
# select unique combos
companies.drop_duplicates(inplace=True)

In [51]:
names = gen_data['company_name'].drop_duplicates()
# I found that no names in gen data are not contained in the other datasets, so I don't merge it in

In [93]:
num_ids = companies.groupby('company_name').company_id.value_counts().reset_index(level=0).rename(columns={'company_id':'num_id'})
# 68 companies have multiple ids... maybe because they are owners
num_ids[num_ids['num_id']>1]

                                 company_name  num_id
company_id
60517                     126 Grove Solar LLC       2
58164       180 Raritan Energy Solutions, LLC       2
54816               AMERESCO Delaware Central       2
195                          Alabama Power Co       2
1182                         BASF Corporation       2
...                                       ...     ...
20326            Town of West Boylston - (MA)       2
11359           Village of Lyndonville - (VT)       2
20100          Warm Springs Power Enterprises       2
2891                  Westbrook Energy Center       2
20910             Wolverine Power Supply Coop       2

[68 rows x 2 columns]

In [ ]:
companies[companies[]]