In [5]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.dpi'] = 200
plt.rcParams['figure.figsize'] = [15, 10]

## Read and fix data

In [87]:
dataDir = "../../Data for Tax Equity Project/eia_data/eia8602018/"

In [140]:
utils = pd.read_csv(dataDir + '/utility_2018.csv', header=1)
owners = pd.read_csv(dataDir + 'owner_2018.csv', header=1)

In [141]:
gen_data = pd.read_csv(dataDir + 'gen_2018.csv')
gen_data.drop(['Unnamed: 0'],axis=1,inplace=True)
gen_data = gen_data[~gen_data['Utility ID'].str.contains('NOTE', na=False)]
gen_data['Utility ID'] = pd.to_numeric(gen_data['Utility ID'])

In [142]:
utils.columns = utils.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
owners.columns =  owners.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
gen_data.columns = gen_data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
owners.columns =  owners.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
gen_data.set_index('utility_id',inplace=True)

In [143]:
merged = gen_data.merge(utils, how='left', on='utility_id')

In [146]:
merged[merged['operator_of_plants_reported_on_form?'].isna()]

,utility_id,utility_name_x,plant_code,plant_name,state_x,county,generator_id,technology,prime_mover,unit_code,...,utility_name_y,street_address,city,state_y,zip,owner_of_plants_reported_on_form?,operator_of_plants_reported_on_form?,asset_manager_of_plants_reported_on_form?,other_relationships_with_plants_reported_on_form?,entity_type
0,195,Alabama Power Co,2.0,Bankhead Dam,AL,Tuscaloosa,1,Conventional Hydroelectric,HY,NaN,...,Alabama Power Co,P O Box 2641600 North 18th Str,Birmingham,AL,35291,Y,NaN,NaN,NaN,I
1,195,Alabama Power Co,3.0,Barry,AL,Mobile,1,Natural Gas Steam Turbine,ST,NaN,...,Alabama Power Co,P O Box 2641600 North 18th Str,Birmingham,AL,35291,Y,NaN,NaN,NaN,I
2,195,Alabama Power Co,3.0,Barry,AL,Mobile,2,Natural Gas Steam Turbine,ST,NaN,...,Alabama Power Co,P O Box 2641600 North 18th Str,Birmingham,AL,35291,Y,NaN,NaN,NaN,I
3,195,Alabama Power Co,3.0,Barry,AL,Mobile,4,Conventional Steam Coal,ST,NaN,...,Alabama Power Co,P O Box 2641600 North 18th Str,Birmingham,AL,35291,Y,NaN,NaN,NaN,I
4,195,Alabama Power Co,3.0,Barry,AL,Mobile,5,Conventional Steam Coal,ST,NaN,...,Alabama Power Co,P O Box 2641600 North 18th Str,Birmingham,AL,35291,Y,NaN,NaN,NaN,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22112,62777,Burrstone Energy Center,62920.0,Burrstone Energy Center,NY,Oneida,CG-1,Natural Gas Internal Combustion Engine,IC,NaN,...,Burrstone Energy Center,1656 Champlain Avenue,New Hartford,NY,13413,Y,NaN,NaN,NaN,COM
22113,62777,Burrstone Energy Center,62920.0,Burrstone Energy Center,NY,Oneida,CG-2,Natural Gas Internal Combustion Engine,IC,NaN,...,Burrstone Energy Center,1656 Champlain Avenue,New Hartford,NY,13413,Y,NaN,NaN,NaN,COM
22114,62777,Burrstone Energy Center,62920.0,Burrstone Energy Center,NY,Oneida,CG-3,Natural Gas Internal Combustion Engine,IC,NaN,...,Burrstone Energy Center,1656 Champlain Avenue,New Hartford,NY,13413,Y,NaN,NaN,NaN,COM
22115,62777,Burrstone Energy Center,62920.0,Burrstone Energy Center,NY,Oneida,CG-4,Natural Gas Internal Combustion Engine,IC,NaN,...,Burrstone Energy Center,1656 Champlain Avenue,New Hartford,NY,13413,Y,NaN,NaN,NaN,COM
22117,62764,C2 Starratt Solar LLC,62940.0,Starratt Solar,FL,Duval,PV,Solar Photovoltaic,PV,NaN,...,C2 Starratt Solar LLC,"55 5th Ave., 18th Floor",New York,NY,10003,Y,NaN,NaN,NaN,IND

utility_name
state

[None, None]

In [133]:
utils.columns

Index(['utility_name', 'street_address', 'city', 'state', 'zip',
       'owner_of_plants_reported_on_form?',
       'operator_of_plants_reported_on_form?',
       'asset_manager_of_plants_reported_on_form?',
       'other_relationships_with_plants_reported_on_form?', 'entity_type'],
      dtype='object')

In [136]:
gen_data[gen_data['utility_name'] == 'Tennessee Valley Authority']

,utility_name,plant_code,plant_name,state,county,generator_id,technology,prime_mover,unit_code,ownership,...,planned_energy_source_1,planned_new_nameplate_capacity_mw,planned_repower_month,planned_repower_year,other_planned_modifications?,other_modifications_month,other_modifications_year,multiple_fuels?,cofire_fuels?,switch_between_oil_and_natural_gas?
utility_id,,,,,,,,,,,,,,,,,,,,,
18642,Tennessee Valley Authority,46.0,Browns Ferry,AL,Limestone,1,Nuclear,ST,NaN,S,...,NaN,,,,NaN,,,N,NaN,NaN
18642,Tennessee Valley Authority,46.0,Browns Ferry,AL,Limestone,2,Nuclear,ST,NaN,S,...,NaN,,,,NaN,,,N,NaN,NaN
18642,Tennessee Valley Authority,46.0,Browns Ferry,AL,Limestone,3,Nuclear,ST,NaN,S,...,NaN,,,,NaN,,,N,NaN,NaN
18642,Tennessee Valley Authority,47.0,Colbert,AL,Colbert,GT1,Natural Gas Fired Combustion Turbine,GT,NaN,S,...,NaN,,,,NaN,,,Y,N,Y
18642,Tennessee Valley Authority,47.0,Colbert,AL,Colbert,GT2,Natural Gas Fired Combustion Turbine,GT,NaN,S,...,NaN,,,,NaN,,,Y,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18642,Tennessee Valley Authority,55451.0,Magnolia Power Plant,MS,Benton,STG2,Natural Gas Fired Combined Cycle,CA,MCC2,S,...,NaN,,,,NaN,,,N,NaN,NaN
18642,Tennessee Valley Authority,55451.0,Magnolia Power Plant,MS,Benton,STG3,Natural Gas Fired Combined Cycle,CA,MCC3,S,...,NaN,,,,NaN,,,N,NaN,NaN
18642,Tennessee Valley Authority,55694.0,Quantum Choctaw Power LLC,MS,Choctaw,CT1,Natural Gas Fired Combined Cycle,CT,CC1,S,...,NaN,,,,NaN,,,N,N,N
18642,Tennessee Valley Authority,55694.0,Quantum Choctaw Power LLC,MS,Choctaw,CT2,Natural Gas Fired Combined Cycle,CT,CC1,S,...,NaN,,,,NaN,,,N,N,N
18642,Tennessee Valley Authority,55694.0,Quantum Choctaw Power LLC,MS,Choctaw,ST1,Natural Gas Fired Combined Cycle,CA,CC1,S,...,NaN,,,,NaN,,,N,N,NaN

In [135]:
utils[utils['utility_name']=='Tennessee Valley Authority']

,utility_name,street_address,city,state,zip,owner_of_plants_reported_on_form?,operator_of_plants_reported_on_form?,asset_manager_of_plants_reported_on_form?,other_relationships_with_plants_reported_on_form?,entity_type
Utility ID,,,,,,,,,,
18642,Tennessee Valley Authority,WT 4B-K 400 W Summit Hill Driv,Knoxville,TN,37902,Y,NaN,NaN,NaN,F

In [122]:
utils.columns

Index(['utility_name', 'street_address', 'city', 'state', 'zip',
       'owner_of_plants_reported_on_form?',
       'operator_of_plants_reported_on_form?',
       'asset_manager_of_plants_reported_on_form?',
       'other_relationships_with_plants_reported_on_form?', 'entity_type'],
      dtype='object')

In [106]:
dfList = [utils, owners,gen_data]
[print(x.shape) for x in dfList]

(5039, 10)
(4631, 13)
(22118, 72)

[None, None, None]

In [119]:
sum([x in owners.index for x in gen_data.index])

8151